In [186]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [187]:
Train = pd.read_csv("train.csv")
Test = pd.read_csv("test.csv")

In [188]:
Train.shape

(550068, 12)

In [189]:
Test.shape

(233599, 11)

In [190]:
Train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 12 columns):
User_ID                       550068 non-null int64
Product_ID                    550068 non-null object
Gender                        550068 non-null object
Age                           550068 non-null object
Occupation                    550068 non-null int64
City_Category                 550068 non-null object
Stay_In_Current_City_Years    550068 non-null object
Marital_Status                550068 non-null int64
Product_Category_1            550068 non-null int64
Product_Category_2            376430 non-null float64
Product_Category_3            166821 non-null float64
Purchase                      550068 non-null int64
dtypes: float64(2), int64(5), object(5)
memory usage: 50.4+ MB

In [191]:
Test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233599 entries, 0 to 233598
Data columns (total 11 columns):
User_ID                       233599 non-null int64
Product_ID                    233599 non-null object
Gender                        233599 non-null object
Age                           233599 non-null object
Occupation                    233599 non-null int64
City_Category                 233599 non-null object
Stay_In_Current_City_Years    233599 non-null object
Marital_Status                233599 non-null int64
Product_Category_1            233599 non-null int64
Product_Category_2            161255 non-null float64
Product_Category_3            71037 non-null float64
dtypes: float64(2), int64(4), object(5)
memory usage: 19.6+ MB

In [192]:
Train['Product_Category_3'].unique()

array([nan, 14., 17.,  5.,  4., 16., 15.,  8.,  9., 13.,  6., 12.,  3.,
       18., 11., 10.])

In [193]:
Train['Product_Category_2'][Train['Product_Category_2'].isnull()] = 0
Train['Product_Category_3'][Train['Product_Category_3'].isnull()] = 0
Test['Product_Category_2'][Test['Product_Category_2'].isnull()] = 0
Test['Product_Category_3'][Test['Product_Category_3'].isnull()] = 0

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [194]:
Train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 12 columns):
User_ID                       550068 non-null int64
Product_ID                    550068 non-null object
Gender                        550068 non-null object
Age                           550068 non-null object
Occupation                    550068 non-null int64
City_Category                 550068 non-null object
Stay_In_Current_City_Years    550068 non-null object
Marital_Status                550068 non-null int64
Product_Category_1            550068 non-null int64
Product_Category_2            550068 non-null float64
Product_Category_3            550068 non-null float64
Purchase                      550068 non-null int64
dtypes: float64(2), int64(5), object(5)
memory usage: 50.4+ MB

In [195]:
Test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233599 entries, 0 to 233598
Data columns (total 11 columns):
User_ID                       233599 non-null int64
Product_ID                    233599 non-null object
Gender                        233599 non-null object
Age                           233599 non-null object
Occupation                    233599 non-null int64
City_Category                 233599 non-null object
Stay_In_Current_City_Years    233599 non-null object
Marital_Status                233599 non-null int64
Product_Category_1            233599 non-null int64
Product_Category_2            233599 non-null float64
Product_Category_3            233599 non-null float64
dtypes: float64(2), int64(4), object(5)
memory usage: 19.6+ MB

In [196]:
Test['Purchase'] = 0

In [57]:
Train['Product_ID'] = Train['Product_ID'].str[1:].astype(int)
Test['Product_ID'] = Test['Product_ID'].str[1:].astype(int)

In [58]:
Total = pd.concat([Train,Test],axis=0)

In [59]:
Total

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,69042,F,0-17,10,A,2,0,3,0.0,0.0,8370
1,1000001,248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,87842,F,0-17,10,A,2,0,12,0.0,0.0,1422
3,1000001,85442,F,0-17,10,A,2,0,12,14.0,0.0,1057
4,1000002,285442,M,55+,16,C,4+,0,8,0.0,0.0,7969
5,1000003,193542,M,26-35,15,A,3,0,1,2.0,0.0,15227
6,1000004,184942,M,46-50,7,B,2,1,1,8.0,17.0,19215
7,1000004,346142,M,46-50,7,B,2,1,1,15.0,0.0,15854
8,1000004,97242,M,46-50,7,B,2,1,1,16.0,0.0,15686
9,1000005,274942,M,26-35,20,A,1,1,8,0.0,0.0,7871
10,1000005,251242,M,26-35,20,A,1,1,5,11.0,0.0,5254
11,1000005,14542,M,26-35,20,A,1,1,8,0.0,0.0,3957
12,1000005,31342,M,26-35,20,A,1,1,8,0.0,0.0,6073
13,1000005,145042,M,26-35,20,A,1,1,1,2.0,5.0,15665
14,1000006,231342,F,51-55,9,A,1,0,5,8.0,14.0,5378
15,1000006,190242,F,51-55,9,A,1,0,4,5.0,0.0,2079
16,1000006,96642,F,51-55,9,A,1,0,2,3.0,4.0,13055
17,1000006,58442,F,51-55,9,A,1,0,5,14.0,0.0,8851
18,1000007,36842,M,36-45,1,B,1,1,1,14.0,16.0,11788
19,1000008,249542,M,26-35,12,C,4+,1,1,5.0,15.0,19614
20,1000008,220442,M,26-35,12,C,4+,1,5,14.0,0.0,8584
21,1000008,156442,M,26-35,12,C,4+,1,8,0.0,0.0,9872
22,1000008,213742,M,26-35,12,C,4+,1,8,0.0,0.0,9743
23,1000008,214442,M,26-35,12,C,4+,1,8,0.0,0.0,5982
24,1000008,303442,M,26-35,12,C,4+,1,1,8.0,14.0,11927
25,1000009,135742,M,26-35,17,C,0,0,6,8.0,0.0,16662
26,1000009,39942,M,26-35,17,C,0,0,8,0.0,0.0,5887
27,1000009,161442,M,26-35,17,C,0,0,5,14.0,0.0,6973
28,1000009,78742,M,26-35,17,C,0,0,5,8.0,14.0,5391
29,1000010,85942,F,36-45,1,B,4+,1,2,4.0,8.0,16352
...,...,...,...,...,...,...,...,...,...,...,...,...
233569,1005996,184242,F,26-35,0,B,1,1,9,15.0,0.0,0
233570,1005996,45342,F,26-35,0,B,1,1,1,5.0,17.0,0
233571,1006001,124642,F,26-35,7,A,0,1,16,0.0,0.0,0
233572,1006002,121142,M,51-55,0,C,1,1,8,0.0,0.0,0
233573,1006002,233542,M,51-55,0,C,1,1,1,15.0,0.0,0
233574,1006002,226342,M,51-55,0,C,1,1,11,15.0,0.0,0
233575,1006002,284842,M,51-55,0,C,1,1,1,8.0,17.0,0
233576,1006003,313342,F,46-50,17,C,1,0,5,0.0,0.0,0
233577,1006010,223542,M,36-45,0,C,1,0,1,8.0,17.0,0
233578,1006013,20342,F,26-35,20,C,3,0,1,2.0,0.0,0
233579,1006016,14842,M,46-50,1,B,1,1,1,2.0,5.0,0
233580,1006016,109542,M,46-50,1,B,1,1,8,14.0,17.0,0
233581,1006018,71442,M,36-45,1,C,3,0,15,17.0,0.0,0
233582,1006021,112542,M,26-35,12,B,2,1,1,11.0,15.0,0
233583,1006021,3442,M,26-35,12,B,2,1,4,5.0,8.0,0
233584,1006023,262242,M,26-35,0,C,2,1,1,11.0,16.0,0
233585,1006025,161142,F,26-35,1,B,1,0,11,0.0,0.0,0
233586,1006026,110742,M,36-45,6,C,1,1,1,2.0,8.0,0
233587,1006028,162442,M,18-25,4,A,4+,0,1,16.0,0.0,0
233588,1006030,129842,M,26-35,17,C,1,1,6,8.0,15.0,0
233589,1006030,241442,M,26-35,17,C,1,1,2,15.0,0.0,0
233590,1006032,252442,M,46-50,7,A,3,0,8,0.0,0.0,0
233591,1006033,127642,M,51-55,13,B,1,1,1,2.0,15.0,0
233592,1006035,135742,F,26-35,1,C,3,0,6,8.0,0.0,0
233593,1006036,255442,F,26-35,15,B,4+,1,8,0.0,0.0,0
233594,1006036,118942,F,26-35,15,B,4+,1,8,0.0,0.0,0
233595,1006036,254642,F,26-35,15,B,4+,1,5,8.0,0.0,0
233596,1006036,31842,F,26-35,15,B,4+,1,1,5.0,12.0,0
233597,1006037,124742,F,46-50,1,C,4+,0,10,16.0,0.0,0
233598,1006039,316642,F,46-50,0,B,4+,1,4,5.0,0.0,0

In [60]:
Train.corr(method="pearson")

,User_ID,Product_ID,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
User_ID,1.000000,-0.017619,-0.023971,0.020443,0.003825,0.003896,0.003605,0.004716
Product_ID,-0.017619,1.000000,0.009344,0.013194,0.090193,-0.090600,-0.144360,-0.103961
Occupation,-0.023971,0.009344,1.000000,0.024280,-0.007618,0.006712,0.012269,0.020833
Marital_Status,0.020443,0.013194,0.024280,1.000000,0.019888,0.001099,-0.004629,-0.000463
Product_Category_1,0.003825,0.090193,-0.007618,0.019888,1.000000,-0.067877,-0.385534,-0.343703
Product_Category_2,0.003896,-0.090600,0.006712,0.001099,-0.067877,1.000000,0.094750,0.052288
Product_Category_3,0.003605,-0.144360,0.012269,-0.004629,-0.385534,0.094750,1.000000,0.288501
Purchase,0.004716,-0.103961,0.020833,-0.000463,-0.343703,0.052288,0.288501,1.000000

In [61]:
del Total['User_ID']

In [62]:
for i in Train.columns:
    print (Train[i].unique())

[1000001 1000002 1000003 ... 1004113 1005391 1001529]
[ 69042 248942  87842 ... 370293 371644 370853]
['F' 'M']
['0-17' '55+' '26-35' '46-50' '51-55' '36-45' '18-25']
[10 16 15  7 20  9  1 12 17  0  3  4 11  8 19  2 18  5 14 13  6]
['A' 'C' 'B']
['2' '4+' '3' '1' '0']
[0 1]
[ 3  1 12  8  5  4  2  6 14 11 13 15  7 16 18 10 17  9 20 19]
[ 0.  6. 14.  2.  8. 15. 16. 11.  5.  3.  4. 12.  9. 10. 17. 13.  7. 18.]
[ 0. 14. 17.  5.  4. 16. 15.  8.  9. 13.  6. 12.  3. 18. 11. 10.]
[ 8370 15200  1422 ...   135   123   613]

In [63]:
Train = pd.get_dummies(Train)

In [64]:
Train.corr(method='pearson')

,User_ID,Product_ID,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,Gender_F,Gender_M,...,Age_51-55,Age_55+,City_Category_A,City_Category_B,City_Category_C,Stay_In_Current_City_Years_0,Stay_In_Current_City_Years_1,Stay_In_Current_City_Years_2,Stay_In_Current_City_Years_3,Stay_In_Current_City_Years_4+
User_ID,1.000000,-0.017619,-0.023971,0.020443,0.003825,0.003896,0.003605,0.004716,0.033474,-0.033474,...,-0.006963,-0.004961,-0.030568,0.019688,0.008272,0.006495,0.019574,0.018551,-0.030953,-0.019567
Product_ID,-0.017619,1.000000,0.009344,0.013194,0.090193,-0.090600,-0.144360,-0.103961,-0.021084,0.021084,...,0.012339,0.013510,-0.003780,-0.008863,0.013068,0.001330,-0.000236,0.003490,-0.000305,-0.004384
Occupation,-0.023971,0.009344,1.000000,0.024280,-0.007618,0.006712,0.012269,0.020833,-0.117291,0.117291,...,0.030846,0.044096,-0.023070,-0.011673,0.034529,-0.026055,-0.002092,-0.012716,0.025974,0.013905
Marital_Status,0.020443,0.013194,0.024280,1.000000,0.019888,0.001099,-0.004629,-0.000463,0.011603,-0.011603,...,0.172278,0.091778,-0.033088,-0.001863,0.033661,-0.010673,0.028831,-0.006474,-0.013635,-0.006782
Product_Category_1,0.003825,0.090193,-0.007618,0.019888,1.000000,-0.067877,-0.385534,-0.343703,0.045594,-0.045594,...,0.025784,0.033925,0.015702,-0.006076,-0.008554,0.004576,0.006121,-0.007000,-0.010995,0.006624
Product_Category_2,0.003896,-0.090600,0.006712,0.001099,-0.067877,1.000000,0.094750,0.052288,0.000954,-0.000954,...,0.009457,0.003799,-0.011200,-0.004534,0.015555,-0.002925,0.001557,0.000494,-0.000637,0.000846
Product_Category_3,0.003605,-0.144360,0.012269,-0.004629,-0.385534,0.094750,1.000000,0.288501,-0.036146,0.036146,...,-0.001806,-0.008228,-0.026976,-0.006270,0.032508,-0.001931,-0.003403,0.004742,0.003398,-0.002331
Purchase,0.004716,-0.103961,0.020833,-0.000463,-0.343703,0.052288,0.288501,1.000000,-0.060346,0.060346,...,0.014792,0.002904,-0.042465,-0.019098,0.061012,-0.006605,-0.002030,0.005358,0.002090,0.000988
Gender_F,0.033474,-0.021084,-0.117291,0.011603,0.045594,0.000954,-0.036146,-0.060346,1.000000,-1.000000,...,0.006416,-0.004921,-0.007299,0.006155,0.000426,-0.016094,0.030400,-0.008806,0.011080,-0.027125
Gender_M,-0.033474,0.021084,0.117291,-0.011603,-0.045594,-0.000954,0.036146,0.060346,-1.000000,1.000000,...,-0.006416,0.004921,0.007299,-0.006155,-0.000426,0.016094,-0.030400,0.008806,-0.011080,0.027125
Age_0-17,-0.029809,0.000990,0.017627,-0.139961,-0.013681,-0.009959,-0.000527,-0.011055,0.034945,-0.034945,...,-0.046093,-0.033889,-0.037945,-0.020552,0.058235,0.005446,-0.009230,0.021599,0.004379,-0.020777
Age_18-25,-0.061903,-0.019640,-0.096659,-0.189174,-0.035036,-0.012391,0.003891,-0.008831,0.000246,-0.000246,...,-0.129045,-0.094879,0.008216,0.013039,-0.021766,0.042822,-0.027666,0.009724,-0.023329,0.010036
Age_26-35,0.039550,-0.014639,-0.022461,-0.027654,-0.018637,-0.003426,0.001772,-0.001830,-0.029811,0.029811,...,-0.223622,-0.164415,0.123752,-0.005266,-0.112852,-0.021607,0.000744,-0.007643,0.014127,0.012900
Age_36-45,0.010785,0.014153,0.058309,-0.013227,0.011429,0.006651,0.001271,0.006707,0.000088,-0.000088,...,-0.137168,-0.100851,-0.030014,0.012556,0.015345,-0.012831,-0.016079,0.008057,0.047259,-0.024780
Age_46-50,0.028149,0.011393,0.020323,0.191389,0.025842,0.008219,-0.002657,-0.003317,0.029262,-0.029262,...,-0.082580,-0.060716,-0.069342,0.016007,0.049315,0.009858,0.024941,-0.009156,-0.033426,0.002550
Age_51-55,-0.006963,0.012339,0.030846,0.172278,0.025784,0.009457,-0.001806,0.014792,0.006416,-0.006416,...,1.000000,-0.055334,-0.068173,0.022526,0.041245,-0.017238,0.050712,-0.018785,-0.030997,0.001930
Age_55+,-0.004961,0.013510,0.044096,0.091778,0.033925,0.003799,-0.008228,0.002904,-0.004921,0.004921,...,-0.055334,1.000000,-0.046599,-0.073642,0.123121,0.000042,-0.008210,0.002918,-0.002157,0.009946
City_Category_A,-0.030568,-0.003780,-0.023070,-0.033088,0.015702,-0.011200,-0.026976,-0.042465,-0.007299,0.007299,...,-0.068173,-0.046599,1.000000,-0.515898,-0.407268,0.050357,-0.023573,-0.002476,-0.008505,-0.004932
City_Category_B,0.019688,-0.008863,-0.011673,-0.001863,-0.006076,-0.004534,-0.006270,-0.019098,0.006155,-0.006155,...,0.022526,-0.073642,-0.515898,1.000000,-0.572277,-0.027782,0.015090,-0.009736,0.025754,-0.010174
City_Category_C,0.008272,0.013068,0.034529,0.033661,-0.008554,0.015555,0.032508,0.061012,0.000426,-0.000426,...,0.041245,0.123121,-0.407268,-0.572277,1.000000,-0.018587,0.006478,0.012750,-0.019316,0.015569
Stay_In_Current_City_Years_0,0.006495,0.001330,-0.026055,-0.010673,0.004576,-0.002925,-0.001931,-0.006605,-0.016094,0.016094,...,-0.017238,0.000042,0.050357,-0.027782,-0.018587,1.000000,-0.291711,-0.188509,-0.181025,-0.168752
Stay_In_Current_City_Years_1,0.019574,-0.000236,-0.002092,0.028831,0.006121,0.001557,-0.003403,-0.002030,0.030400,-0.030400,...,0.050712,-0.008210,-0.023573,0.015090,0.006478,-0.291711,1.000000,-0.351584,-0.337625,-0.314736
Stay_In_Current_City_Years_2,0.018551,0.003490,-0.012716,-0.006474,-0.007000,0.000494,0.004742,0.005358,-0.008806,0.008806,...,-0.018785,0.002918,-0.002476,-0.009736,0.012750,-0.188509,-0.351584,1.000000,-0.218180,-0.203389
Stay_In_Current_City_Years_3,-0.030953,-0.000305,0.025974,-0.013635,-0.010995,-0.000637,0.003398,0.002090,0.011080,-0.011080,...,-0.030997,-0.002157,-0.008505,0.025754,-0.019316,-0.181025,-0.337625,-0.218180,1.000000,-0.195314
Stay_In_Current_City_Years_4+,-0.019567,-0.004384,0.013905,-0.006782,0.006624,0.000846,-0.002331,0.000988,-0.027125,0.027125,...,0.001930,0.009946,-0.004932,-0.010174,0.015569,-0.168752,-0.314736,-0.203389,-0.195314,1.000000

In [65]:
Train['Occupation'] = Train['Occupation'].astype('category')

In [66]:
Train = pd.get_dummies(Train)

In [67]:
corr = Train.corr(method='pearson')

In [79]:
Total['Occupation'] = Total['Occupation'].astype('category')
Total = pd.get_dummies(Total)

In [80]:
Total.shape

(783667, 44)

In [81]:
from sklearn.feature_selection import RFE

In [82]:
783666-233598

550068

In [83]:
Total = Total.reset_index()
del Total['index']

In [84]:
Train = Total[0:550068]
Test = Total[550068:]

In [85]:
Train.shape

(550068, 44)

In [86]:
Test.shape

(233599, 44)

In [ ]:
df_y = Train['Purchase']
del Train['Purchase']
df_x = Train

In [161]:
accepted_columns = corr['Purchase'][(corr['Purchase'] > 0.02) | (corr['Purchase'] < -0.02 )].index.values.tolist()

In [162]:
Test = Test1
df_x = dfx1

In [163]:
dfx1 = df_x.copy()

In [164]:
accepted_columns.remove('Purchase')
accepted_columns

['Product_ID',
 'Product_Category_1',
 'Product_Category_2',
 'Product_Category_3',
 'Gender_F',
 'Gender_M',
 'City_Category_A',
 'City_Category_C',
 'Occupation_12',
 'Occupation_17',
 'Occupation_20']

In [165]:
df_x = df_x[accepted_columns]

In [166]:
#del Test['Purchase']

In [167]:
Test1 = Test.copy()

In [168]:
Test = Test[accepted_columns]

In [169]:
from sklearn.model_selection import train_test_split

In [170]:
X_Train,X_Test,Y_Train,Y_Test = train_test_split(df_x,df_y,test_size=0.2,random_state=1)

In [171]:
from sklearn.metrics import r2_score, mean_squared_error
from math import sqrt

In [173]:
rfr

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=12,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [174]:
from sklearn.ensemble import RandomForestRegressor
rfr = RandomForestRegressor(max_depth=18,n_estimators=300)
rfr.fit(X_Train,Y_Train)
Y_Pred = rfr.predict(X_Test)
print (sqrt(mean_squared_error(Y_Test,Y_Pred)))
Y_Train_Pred = rfr.predict(X_Train)
print (sqrt(mean_squared_error(Y_Train,Y_Train_Pred)))

2701.0901760042157
2563.615312870707

In [ ]:
Y_Final_Pred = rfr.predict(Test)

In [177]:
submission = pd.read_csv('Sample_Submission_Tm9Lura.csv')

In [ ]:
submission

Empty DataFrame
Columns: [User_ID, Product_ID, Purchase]
Index: []

In [ ]:
Submission_Test = pd.read_csv("test.csv")

In [ ]:
submission['User_ID'] = Submission_Test['User_ID']
submission['Product_ID'] = Submission_Test['Product_ID']

In [ ]:
Y_Final_Pred.shape

In [ ]:
submission['Purchase'] = Y_Final_Pred

In [ ]:
submission.to_csv('submission.csv')